<!-- templates/pages/evento_list.html -->
{% extends 'base.html' %}
{% load humanize %}

{% block title %}
    Lista de Eventos
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h5>{{ proceso.nombre }} - {{ proceso.descripcion }} - S/ {{ proceso.estimado|floatformat:2|intcomma }}</h5>
    <a href="{% url 'evento_create' proceso.id %}" class="btn btn-primary mb-3">Agregar Evento</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <a href="?order_by={% if order_by == 'fecha' %}-{% endif %}fecha">
                        Fecha
                        {% if order_by == 'fecha' %}
                            <i class="fas fa-sort-up"></i>
                        {% elif order_by == '-fecha' %}
                            <i class="fas fa-sort-down"></i>
                        {% else %}
                            <i class="fas fa-sort"></i>
                        {% endif %}
                    </a>
                </th>
                <th>Actividad (Fórmula)</th>
                <th>Documento</th>
                <th>Situación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for evento in eventos %}
            <tr>
                <td>{{ evento.fecha|date:"d/m/Y" }}</td>
                <td>{{ evento.acti_nombre }}</td>
                <td>{{ evento.documento }}</td>
                <td>{{ evento.situacion }}</td>
                <td>
                    <a href="{% url 'evento_detail' proceso.id evento.id %}" class="btn btn-info btn-sm">Ver</a>
                    <a href="{% url 'evento_update' proceso.id evento.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'evento_delete' proceso.id evento.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
