<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Aplicación{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Añadir Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Seguimiento</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
                    </li>
                    <!-- Menú Procesos -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'proceso_list' %}">Procesos</a>
                    </li>
                </ul>
                <!-- Logout como ícono solo para pantallas grandes -->
                <form method="POST" action="{% url 'logout' %}" class="d-none d-lg-flex ms-auto me-3"> <!-- ms-auto para alinear a la derecha, me-3 para margen derecho -->
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link nav-link p-0" style="padding: 0;" title="Salir"> <!-- Añadir 'title' para el texto emergente -->
                        <i class="bi bi-box-arrow-right fs-3"></i> <!-- Ícono de salida más grande (fs-3) -->
                    </button>
                </form>
                <!-- Logout como texto normal solo para pantallas pequeñas y medianas -->
                <form method="POST" action="{% url 'logout' %}" class="d-flex d-lg-none"> <!-- Mostrar solo en pantallas pequeñas -->
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link nav-link p-0" style="padding: 0;">Logout</button>
                </form>
            </div>
        </div>
    </nav>
    {% endif %}
    
    <!-- Cambiado a container-fluid para eliminar márgenes limitantes -->
    <div class="container-fluid p-0">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
