<!-- templates/home.html -->

{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <!-- Formulario de Filtro de Dirección con Botones -->
<!-- Formulario de Filtro de Dirección con Botones -->
<form method="get" class="mb-4">
  <div class="row">
    <div class="col-12">
      <!-- Contenedor flex para centrar los botones en una fila -->
      <div class="d-flex flex-wrap justify-content-center"> <!-- Cambiado justify-content-start a justify-content-center -->
        <!-- Botones para cada dirección -->
        {% for direccion in direcciones %}
          <button type="submit" name="direccion" value="{{ direccion }}" class="btn {% if direccion == direccion_seleccionada %}btn-primary{% else %}btn-outline-primary{% endif %} mb-2 me-2"> <!-- Añadido me-2 para margen derecho -->
            {{ direccion }}
          </button>
        {% endfor %}
      </div>
    </div>
  </div>
</form>



    <!-- Bloque para Gráfico de Líneas de Tiempo -->
    <div class="row">
      <div class="col-12 mb-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title text-center mb-4">Gráfico de Líneas de Tiempo de Procesos</h3>
            {% if graphic %}
              <div class="text-center">
                <img src="data:image/png;base64,{{ graphic }}" alt="Gráfico de líneas de tiempo de procesos" class="img-fluid"/>
              </div>
            {% else %}
              <p>No hay datos suficientes para mostrar el gráfico de Líneas de Tiempo.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <!-- Fila separada para otros gráficos -->
    <div class="row">
      <!-- Bloque para Gráfico de Procesos por Dirección -->
      <div class="col-12 mb-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title text-center mb-4">Gráfico de Procesos por Dirección</h3>
            {% if graphic2 %}
              <div class="text-center">
                <img src="data:image/png;base64,{{ graphic2 }}" alt="Gráfico de Procesos por Dirección" class="img-fluid"/>
              </div>
            {% else %}
              <p>No hay datos suficientes para mostrar el gráfico de Procesos por Dirección.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
