<!-- templates/home.html -->

{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <!-- Formulario de Filtro de Mercado con Botones -->
    <form method="get" class="mb-4">
      <div class="row">
        <div class="col-12">
          <!-- Contenedor flex para centrar los botones en una fila -->
          <div class="d-flex flex-wrap justify-content-center">
            <!-- Botones para cada mercado -->
            {% for mercado in mercados %}
              <button type="submit" name="mercado" value="{{ mercado }}" class="btn {% if mercado == mercado_seleccionado %}btn-primary{% else %}btn-outline-primary{% endif %} mb-2 me-2">
                {{ mercado }}
              </button>
            {% endfor %}
          </div>
        </div>
      </div>
    </form>

    <!-- Bloque para mostrar los dos gráficos lado a lado -->
    <div class="row">
      <!-- Columna para Gráfico de Líneas de Tiempo (80%) -->
      <div class="col-md-8 mb-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title text-center mb-4">Gráfico de Líneas de Tiempo de Procesos</h3>
            {% if graphic %}
              <div class="text-center">
                <img src="data:image/png;base64,{{ graphic }}" alt="Gráfico de líneas de tiempo de procesos" class="img-fluid"/>
              </div>
            {% else %}
              <p>No hay datos suficientes para mostrar el gráfico de Líneas de Tiempo.</p>
            {% endif %}
          </div>
        </div>
      </div>

      <!-- Columna para Gráfico de Procesos por Mercado (20%) -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title text-center mb-4">Gráfico de Procesos por Mercado</h3>
            {% if graphic2 %}
              <div class="text-center">
                <img src="data:image/png;base64,{{ graphic2 }}" alt="Gráfico de Procesos por Mercado" class="img-fluid"/>
              </div>
            {% else %}
              <p>No hay datos suficientes para mostrar el gráfico de Procesos por Mercado.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
