<!-- templates/home.html -->

{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <!-- Formulario de Filtro de Dirección -->
    <form method="get" class="mb-4"> <!-- Formulario al principio de la página -->
      <div class="row">
        <div class="col-md-4"> <!-- Campo de filtro de dirección -->
          {{ filter_form.direccion.label_tag }} <!-- Mostrar la etiqueta del campo -->
          {{ filter_form.direccion }} <!-- Mostrar el campo de selección de dirección -->
        </div>
      </div>
    </form>

    <!-- Bloque para Gráfico de Líneas de Tiempo -->
    <div class="row">
      <div class="col-12 mb-4"> <!-- col-12 para que ocupe todo el ancho de la pantalla -->
        <div class="card"> <!-- Usar card de Bootstrap para estilo -->
          <div class="card-body">
            <h3 class="card-title text-center mb-4">Gráfico de Líneas de Tiempo de Procesos</h3>
            {% if graphic %}
              <div class="text-center"> <!-- Centrar el contenido para mejorar el diseño -->
                <img src="data:image/png;base64,{{ graphic }}" alt="Gráfico de líneas de tiempo de procesos" class="img-fluid"/> <!-- Hacer la imagen responsiva -->
              </div>
            {% else %}
              <p>No hay datos suficientes para mostrar el gráfico de Líneas de Tiempo.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <!-- Fila separada para otros gráficos -->
    <div class="row">
      <!-- Bloque para Gráfico de Procesos por Dirección -->
      <div class="col-12 mb-4"> <!-- col-12 para que ocupe todo el ancho de la pantalla -->
        <div class="card"> <!-- Usar card de Bootstrap para estilo -->
          <div class="card-body">
            <h3 class="card-title text-center mb-4">Gráfico de Procesos por Dirección</h3>
            {% if graphic2 %}
              <div class="text-center"> <!-- Centrar el contenido para mejorar el diseño -->
                <img src="data:image/png;base64,{{ graphic2 }}" alt="Gráfico de Procesos por Dirección" class="img-fluid"/> <!-- Hacer la imagen responsiva -->
              </div>
            {% else %}
              <p>No hay datos suficientes para mostrar el gráfico de Procesos por Dirección.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
